<div style="background: #ffffff ;padding:30px;">
  <div nz-row>
    <div nz-col nzSpan="8" nzOffset="8">
      <h1>防疫健康小卡片</h1>
    </div>
  </div>
  <div nz-row [nzGutter]="20" style="padding-top: 30px">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="鼓励“大义灭亲”" style="height: 200px">
        <p>若我们的家人、朋友不幸出现肺炎症状或接触过确诊病例，在这个阶段，对亲朋好友的最好做法就是，及时将该信息反馈给疾控中心，让亲朋好友及时得到医治，主动隔离自己，而不是藏着窝着</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="鼓励“窝居家中”" style="height: 200px">
        <p>听从政府安排、响应国家号召，在不上班的时候，只要家里还有饭食，没有特殊情况，不要出门，抑制传播从我做起。</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="鼓励“捐款捐物”" style="height: 200px">
        <p>这段时间已经开始了各种捐助，有的捐助钱款、有的捐助口罩、有的捐助隔离服，这个根据每个人的情况而定，再小的举动都是大的爱心，一方有难，八方支援，中国必胜。</p>
      </nz-card>
    </div>
  </div>
  <div nz-row [nzGutter]="20" style="padding-top: 20px">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="鼓励“暗中充电”" style="height: 200px">
        <p>虽然疫情造成的恐慌，但是我们每个人的心中绝对不能恐慌，把这个时期当作学习充电时期，看书、练字、网络学习各种技能。</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="禁止“散布谣言”：" style="height: 200px">
        <p>现在手机、电脑网络发展通畅，一些小道消息、谣言也会漫天飞，而我们能做的就是，重科学、听官宣，时间一长，这些谣言不攻自破。</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="简单说了“五鼓励”、“五禁止”" style="height: 200px">
        <p>抗战疫情阶段，戴口罩，勤洗手，我们共同支撑，相应我们的国家会很快的给我们一个安全的环境，相信国家，相信政府。</p>
      </nz-card>
    </div>
  </div>
</div>
